.gameDetails_container {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  max-width: 800px;
}

.gameDetails_container_text div {
  display: flex;
  justify-content: space-around;
}
