.editGame_container {
  background-color: rgba(180, 180, 180, 0.1);
  width: 345px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  gap: 1em;
  border-radius: 5px;
}

.iconButton {
  text-align: center;
}
